EIO:CFG_1.0:6:1::
#
SYSSIG_IN:

      -Signal "Collision_Avoidance" -Action "CollAvoidance"
#
INDUSTRIAL_NETWORK:

      -Name "EtherNetIP" -Connection "Private Network"\
      -Label "EtherNet/IP Adapter Network"

      -Name "DeviceNet" -Label "DeviceNet Master/Slave Network" -Address "2"
#
EIO_CROSS:

      -Name "Cross_Signal_Lamp" -Res "Signal_Lamp" -Act1 "DRV1BRAKE"
#
EIO_SIGNAL_SAFELEVEL:

      -Name "FlangePowerSafeLevel" -ActionWhenStartup "Last"
#
DEVICENET_DEVICE:

      -Name "D652_10" -VendorName "ABB Robotics" -ProductName "24 VDC Unit"\
      -Address 10 -ProductCode 26 -DeviceType 7 -ConnectionType "COS"\
      -OutputSize 2 -InputSize 2
#
DEVICENET_INTERNAL_DEVICE:

      -Name "DN_Internal_Device" -VendorName "ABB Robotics"\
      -ProductName "DeviceNet Internal Slave Device"
#
ETHERNETIP_INTERNAL_DEVICE:

      -Name "EN_Internal_Device" -VendorName "ABB Robotics"\
      -ProductName "EtherNet/IP Internal Adapter Device"
#
EIO_SIGNAL:

      -Name "custom_DI_0" -SignalType "DI" -Device "D652_10" -DeviceMap "0"

      -Name "custom_DI_1" -SignalType "DI" -Device "D652_10" -DeviceMap "1"

      -Name "custom_DI_2" -SignalType "DI" -Device "D652_10" -DeviceMap "2"

      -Name "custom_DI_3" -SignalType "DI" -Device "D652_10" -DeviceMap "3"

      -Name "custom_DI_4" -SignalType "DI" -Device "D652_10" -DeviceMap "4"

      -Name "custom_DI_5" -SignalType "DI" -Device "D652_10" -DeviceMap "5"

      -Name "custom_DI_6" -SignalType "DI" -Device "D652_10" -DeviceMap "6"

      -Name "custom_DI_7" -SignalType "DI" -Device "D652_10" -DeviceMap "7"

      -Name "custom_DO_0" -SignalType "DO" -Device "D652_10" -DeviceMap "0"

      -Name "custom_DO_1" -SignalType "DO" -Device "D652_10" -DeviceMap "1"

      -Name "custom_DO_2" -SignalType "DO" -Device "D652_10" -DeviceMap "2"

      -Name "custom_DO_3" -SignalType "DO" -Device "D652_10" -DeviceMap "3"

      -Name "custom_DO_4" -SignalType "DO" -Device "D652_10" -DeviceMap "4"

      -Name "custom_DO_5" -SignalType "DO" -Device "D652_10" -DeviceMap "5"

      -Name "custom_DO_6" -SignalType "DO" -Device "D652_10" -DeviceMap "6"

      -Name "custom_DO_7" -SignalType "DO" -Device "D652_10" -DeviceMap "7"

      -Name "hall_sensor_joint_1" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "8"

      -Name "hall_sensor_joint_2" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "9"

      -Name "hall_sensor_joint_3" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "11"

      -Name "hall_sensor_joint_4" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "12"

      -Name "hall_sensor_joint_5" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "13"

      -Name "hall_sensor_joint_6" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "14"

      -Name "hall_sensor_joint_7" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "10"

      -Name "hall_sensor_24V_ROB_R" -SignalType "DO" -Device "D652_10"\
      -DeviceMap "8"

      -Name "hall_sensor_24V_ROB_L" -SignalType "DO" -Device "D652_10"\
      -DeviceMap "9"

      -Name "flange_24V_ROB_R" -SignalType "DO" -Device "D652_10"\
      -DeviceMap "10" -SafeLevel "FlangePowerSafeLevel"

      -Name "flange_24V_ROB_L" -SignalType "DO" -Device "D652_10"\
      -DeviceMap "11" -SafeLevel "FlangePowerSafeLevel"

      -Name "Signal_Lamp" -SignalType "DO" -Device "D652_10" -DeviceMap "12"

      -Name "Collision_Avoidance" -SignalType "DO" -Access "All" -Default 1

      -Name "DO_OPEN_GL" -SignalType "DO"

      -Name "DO_CLOSE_GL" -SignalType "DO"

      -Name "DO_OPEN_GR" -SignalType "DO"

      -Name "DO_CLOSE_GR" -SignalType "DO"

      -Name "DO_ATTACH_OBJ_L" -SignalType "DO"

      -Name "DO_ATTACH_OBJ_R" -SignalType "DO"

      -Name "DO_DETACH_OBJ_R" -SignalType "DO"

      -Name "DO_DETACH_OBJ_L" -SignalType "DO"

      -Name "DO_RESET_ENV" -SignalType "DO"

      -Name "DO_CONV_MOVE" -SignalType "DO"

      -Name "DI_CONV_SENS" -SignalType "DI"

      -Name "DO_INPOS_ROB_R" -SignalType "DO"

      -Name "DO_INPOS_ROB_L" -SignalType "DO"
